{% extends 'image_sharing_and_posting/header.html' %}
{% block title %}Updating {{ block.super }} User Profile{% endblock title %}
{% block content %}
<main>
<h1>Updating User Profile</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <div class="table-grid form-grid">
        <div>{{ user_form.image.label }}</div>
        <div>{{ user_form.image }}</div>
        <div></div><div><button type="submit">Update</button></div>
    </div>
</form>
</main>
{% endblock content %}