{% extends 'image_sharing_and_posting/header.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login">
        <form method="POST">
            {% csrf_token %}
                <a>Log in</a>
                <a href="{% url 'home' %}">Back</a>
                    {{ form|crispy }}
                </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <div>
            <small><a href="{% url 'register' %}">Sign up</a>
            </small><br>
            <small>
                <a href="/">Forgot password</a>
            </small>
        </div>
    </div>
{% endblock content %}
