{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="container title or" role="alert">
                <h2>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|safe|escape }}
            </div>
            {% elif message.tags == 'error' %}
            <div class="container title or" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|safe|escape }}
            </div>
            {% elif message.tags == 'info' %}
            <div class="container title or" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|safe|escape }}
            </div>
            {% elif message.tags == 'warning' %}
            <div class="container title or" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|safe|escape }}
            </h2>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}