{% load crispy_forms_tags %}
{% block content %}
<body>
    <header>
        <div class="container">
            <form method="POST">
            {% csrf_token %}
        </div>
    </header>
        <fieldset>
                <main>
                    <h1>Join Today</h1>
                    {{ form|crispy }}
                </fieldset>
                
                By registering, you accept the Terms of Service and Privacy Notice
                
                <div>
                    <button type="submit">Sign Up</button>
                </main>
            </div>
        </form>
        <div>
            <small>
                Already Have an Account? <a href="/profile">Sign In</a>
            </small>
        </div>
    </div>
</body>
{% endblock content %}