body {
    background-color: rgb(8, 8, 49);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header, main, footer {
    min-width: fit-content;
}

header {
    background-color: rgb(54, 5, 91);
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 650;
}

header .container {
    display: flex;
    flex-direction: row;    
}

header .container span {
    align-self: center;
    color: rgb(255, 0, 0);
    padding: 0.5rem;
}

header a {
    display: inline-block;
    color: rgb(24, 222, 232);
    padding: 1rem;
    text-decoration: none;
}

.spacer {
    flex-grow: 1;
}

.container {
    min-width: 480px;
    padding: 0.3rem;
}

main {
    flex-grow: 1;
}

h1 p {
    padding: 1rem 1rem;
    margin: 1rem 0;
}

h1 {
    background-color: rgb(52, 213, 151);
    color: indigo;
    border-bottom: 3px solid rgb(24, 132, 194);
}

p {
    border-bottom: 5px solid aquamarine;
    border-top: 5px solid aquamarine;
    border-color: aquamarine;
    color: blueviolet;
}

.profile h2{
    background-color: rgb(8, 8, 49);
    color: rgb(255, 119, 0);
    border-bottom: 5px solid rgb(255, 119, 0);
    max-width: 240px;
    min-height: 260px;
    display: inline;
    margin: auto;
}

footer {
    background-color: rgb(4, 11, 24);
    color: rgb(255, 255, 255);
}

footer .container {
    display: flex;
    align-content: stretch;
}

f {
    color: rgb(221, 221, 221);
    padding: 0.7rem;
}

.profile {
    text-align: center;
    letter-spacing: 8px;
    font-size: 23px;
}