body {
    background-color: rgb(8, 8, 49);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header, main, footer {
    min-width: fit-content;
}

header {
    background-color: rgb(54, 5, 91);
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 650;
}

header .container {
    display: flex;
    flex-direction: row;    
}

header .container span {
    align-self: center;
    color: rgb(255, 0, 0);
    padding: 0.5rem;
}

header a {
    display: inline-block;
    color: rgb(24, 222, 232);
    padding: 1rem;
    text-decoration: none;
}

.spacer {
    flex-grow: 1;
}

.container {
    min-width: 480px;
    padding: 0.3rem;
}

main {
    flex-grow: 1;
}

h1 p {
    padding: 1rem 1rem;
    margin: 1rem 0;
}

h1 {
    background-color: rgb(52, 213, 151);
    color: indigo;
    border-bottom: 3px solid rgb(24, 132, 194);
}

p {
    border-bottom: 5px solid aquamarine;
    border-top: 5px solid aquamarine;
    border-color: aquamarine;
    color: blueviolet;
}

.profile h2{
    background-color: rgb(8, 8, 49);
    color: rgb(255, 119, 0);
    border-bottom: 5px solid rgb(255, 119, 0);
    margin: 10rem;
    min-width: 500px;
    display: inline-flex;
}

footer {
    background-color: rgb(4, 11, 24);
    color: rgb(255, 255, 255);
}

footer .container {
    display: flex;
    align-content: stretch;
}

f {
    color: rgb(221, 221, 221);
    padding: 0.7rem;
}

.profile {
    text-align: center;
    letter-spacing: 8px;
    font-size: 23px;
    min-height: 10rem;
}

.logo a {
    color: rgb(255, 119, 0);
    text-decoration: none;
}

img {
    max-width: 10%;
    border-radius: 1rem;
}

.title h2 a {
    background-color: rgb(18, 18, 62);
    color: rgb(255, 119, 0);
    text-decoration: none;
}

.sub h3 a p {
    color: rgb(52, 213, 151);
    border-bottom: none;
    border-top: none;
    text-decoration: none;
    display: flex;
}

p {
    border-top: 4px dotted rebeccapurple;
    border-bottom: none
}

.form-grid {
    grid-template-columns: 10rem auto;
}

.table-grid {
    display: grid;
    padding: 0.5rem;
}

.page-profile-image img {
    max-width: 11%;
    border-radius: 10rem;
    border-style: solid;
    display: grid;
}

.sub {
    display: flex;
    background-color: rgb(18, 18, 62);
    flex-direction: column;
}

.btncolor {
    background-color: gold;
    color: gold;
}
  
.btncolor:hover, .btn-danger:hover{
    color: greenyellow;
    background-color: greenyellow;
}

.container .title h2 a {
    background-color: rgb(54, 5, 91);
}

table {
    color: rgb(255, 119, 0);
    display: grid;
}

.big_img img {
    max-width: 35%;
    border-radius: none;
}

.orange h3 {
    color: rgb(255, 119, 0);
    margin: 3rem;
}